

.panel ul {
  background-color: transparent;
  border: none;
}

.panel li {
}

.panel li .item-inner {
  border-bottom-color: #515151;
}

.panel li .item-title {
  color: rgba(255, 255, 255, .75);
}


/* LISTS */
div[data-page="lists"] .item-inner {
  position: relative;
}

div[data-page="lists"] .completed-bar {
  background-color: #ddd;
  height: 2px;
  left: 0;
  position: absolute;
  top: 36px;
  width: 265px;
}

div[data-page="lists"] .status-bar {
  background-color: blue;
  height: 2px;
  /*left: 0;*/
  /*position: absolute;*/
  /*top: 36px;*/
  width: 5px;
}


/* LIST */
div[data-page="list"] .amount {
  font-size: 14px;
  opacity: .8;
}