

.panel ul {
  background-color: transparent;
  border: none;
}

.panel li {
}

.panel li .item-inner {
  border-bottom-color: #515151;
}

.panel li .item-title {
  color: rgba(255, 255, 255, .75);
}


/* LISTS */
div[data-page="lists"] .item-inner {
  position: relative;
}

div[data-page="lists"] .completed-bar {
  background-color: #ddd;
  height: 2px;
  left: 0;
  position: absolute;
  top: 36px;
  width: 265px;
}

div[data-page="lists"] .status-bar {
  background-color: #007aff;
  height: 2px;
  width: 5px;
}


/* LIST */
div[data-page="list"] .amount {
  font-size: 14px;
  opacity: .8;
}

div[data-page="list"] .icon.checked {
  background-color: #007aff;
}

div[data-page="list"] .icon-form-checkbox.checked:after {
  border: none;
}

div[data-page="list"] .icon-form-checkbox {
  border-radius: 22px;
}
