

<li class="swipeout">
  <label class="label-checkbox item-content swipeout-content">
    <input type="checkbox" {{ checked }} >
    
    <div class="item-media">
      <i class="icon icon-form-checkbox"></i>
    </div>
  
    <div class="item-inner">
      <div class="item-title">{{ name }} <span class="amount">{{ amount }} {{ units }}</span></div>
    </div>    
  </label>

  <div class="swipeout-actions">
    <div class="swipeout-actions-inner">
      <a href="#" class="swipeout-delete">Delete</a>
      <a href="#" class="">Other</a>
    </div>
  </div>
</li>